<!doctype html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@(ViewData["Title"] ?? "Hanaka Sport")</title>
    <meta name="description" content="@(ViewData["Description"] ?? "Hanaka Sport landing page.")" />
    <meta name="theme-color" content="#0A66C2" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet" />
    <link href="~/pickleball-web/css/home.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/pickleball-web/css/pages.css" asp-append-version="true" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/pickleball-web/js/home.js" asp-append-version="true"></script>
    <script src="~/pickleball-web/js/pages.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
